LOAD_BALANCER_HOST=mylbhost
GIT_REPO_PATH=/opt/src/github/oldgiova/raspi-k8s-cluster
GIT_CLONE_URL=https://github.com/oldgiova/raspi-k8s-cluster.git
CONTROL_PLANES=controlp1,controlp2,controlp3
WORKERS=worker1,worker2,worker3

